body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: aqua;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}


